//Generals
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

//Utils
.container {
  margin: 0 auto;
  max-width: 900px;
}
